body {
  background: #F5FAFC;
  font: 18px Arial, sans-serif;
  text-align: center;
}

.title {
font: 24px;
border-style: double;
margin: 0 auto;
padding: 10px;
width: 20%;
border-radius: 10px
}
.chats {
	border-style: solid;
	border-radius: 6px;
	border-color: gray;
	min-height: 10em;
}
.signup{

  border-style: solid;
  position:relative;
  border-radius: 6px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#memory { 
position:absolute;
  left: 32px;
    width: 300px;
    
}
#password{
position:absolute;
  left: 110px;
   width: 200px;
}
#username{
position:absolute;
  left: 110px;
   width: 200px;
}
p {
  text-align: left;
}

#post {
	display:none;
}